@import 'theme';
@import 'progress_bars';
@import 'round_cast_information';

:root {
  --color-1: #73A761;
  --color-2: #CCE586;
  --color-3: #AEE48C;
  --color-4: #D89467;
  --color-5: #8A352E;
  --color-text: #FFFFFF;
}
