// ===========================================================================================
//    General
// ===========================================================================================

// Round covers
.cardPadder,
.blurhash-canvas,
.cardImageContainer,
.cardScalable,
.cardOverlayContainer {
  border-radius: 10px !important;
}

// Blur backdrop image backgrounds in item selection views
// (shows, movies, landing page, album selection)
@supports (backdrop-filter: blur(15px)) {

  // Landing page background
  .backgroundContainer.withBackdrop {
    backdrop-filter: blur(15px);
  }

  // Top information bar (rating, FSK, airing years)
  .detailPageWrapperContainer {
    backdrop-filter: blur(15px);

    .detailPagePrimaryContainer {
      background: transparent;
    }
  }
}

// {{{ Triangular Indicators

// Display counts and watch status of shows, seasons, episodes and collections
// with a triangle in the top right corner of the thumbnail

.playedIndicator,
.countIndicator {
  border-radius: 0;
  box-shadow: none;
  padding: 0 1px 19px 19px;
}

.cardIndicators,
.listItemIndicators {
  right: 0;
  top: 0;
}

.countIndicator,
.fullSyncIndicator,
.playedIndicator {
  color: var(--color-text);
  background: linear-gradient(-135deg, var(--color-1) 50%, transparent 50%);
}
// }}}

// ===========================================================================================
//    Episodes
// ===========================================================================================

// Size episode preview images in a more compact way
.listItemImage.listItemImage-large.itemAction.lazy {
  height: 130px;
}

// Decrease space between episodes
.listItem-content {
  height: 135px;
}

.secondary.listItem-overview.listItemBodyText {
  height: 61px;
  margin: 0;
}
