// ===========================================================================================
//    General
// ===========================================================================================

// Round covers
.cardPadder,
.blurhash-canvas,
.cardImageContainer,
.cardScalable,
.cardOverlayContainer {
  border-radius: 10px !important;
}

// Blur backdrop image backgrounds in item selection views
// (shows, movies, landing page, album selection)
@supports (backdrop-filter: blur(15px)) {

  // Landing page background
  .backgroundContainer.withBackdrop {
    backdrop-filter: blur(15px);
  }

  // Top information bar (rating, FSK, airing years)
  .detailPageWrapperContainer {
    backdrop-filter: blur(15px);

    .detailPagePrimaryContainer {
      background: transparent;
    }
  }
}

// Hide alphabet selector for shows & movies
.alphaPicker {
  display: none;
}

// {{{ Triangular Indicators

// Display counts and watch status of shows, seasons, episodes and collections
// with a triangle in the top right corner of the thumbnail

.playedIndicator,
.countIndicator {
  border-radius: 0;
  box-shadow: none;
  padding: 0 1px 19px 19px;
}

.cardIndicators,
.listItemIndicators {
  right: 0;
  top: 0;
}

.countIndicator,
.fullSyncIndicator,
.playedIndicator {
  color: var(--color-text);
  background: linear-gradient(-135deg, var(--color-1) 50%, transparent 50%);
}
// }}}

// {{{ Re-coloring

// Apply new colors to already existing elements following
// the theme guidelines

.starIcon {
  color: var(--color-3);
}

.mediaInfoOfficialRating {
  color: var(--color-4);
}

// Menu icon hover
.emby-tab-button:hover,
.button-flat:hover {
  color: var(--color-3);
}

.favorite.ratingbutton-icon-withrating {
  color: var(--color-4);
}

.playstatebutton-icon-played {
  color: var(--color-4);
}

// Change color when hovering over interactable icon (episodes)
.paper-icon-button-light:hover:not(:disabled) {
  color: var(--color-2);
  background-color: rgba(#000, 0.35);
}
// }}}

// Remove information bar in season views
.nameContainer {
  display: none;
}

// Align information bar content with rest of buttons
.itemMiscInfo {
  margin-bottom: 0 !important;
}

// ===========================================================================================
//    Episodes
// ===========================================================================================

// Size episode preview images in a more compact way
.listItemImage.listItemImage-large.itemAction.lazy {
  height: 130px;
}

// Decrease space between episodes
.listItem-content {
  height: 135px;
}

.secondary.listItem-overview.listItemBodyText {
  height: 61px;
  margin: 0;
}
